KUBELET_EXTRA_ARGS=
{%- if kubernetes.custom_node_ip -%}
  --node-ip={{ node_ip }}
{%- endif -%}

{%- if kubernetes.cri == 'crio' %}
 --container-runtime=remote --container-runtime-endpoint=unix:///var/run/crio/crio.sock
{%- endif -%}
{%- if kubernetes.cri == 'containerd' %}
 --container-runtime=remote --container-runtime-endpoint=unix:///var/run/containerd/containerd.sock
{%- endif -%}