{
  "exec-opts": ["native.cgroupdriver=systemd"],
  "log-driver": "json-file",
  "log-opts": {
    "max-size": "100m"
  },
  "storage-driver": "overlay2"{% if ansible_facts['os_family'] == "RedHat" %},
  "storage-opts": [
    "overlay2.override_kernel_check=true"
  ]{% endif %}
}