spec:
  updateStrategy:
    type: RollingUpdate
  template:
    spec:
      containers:
        - name: kube-flannel
          args:
          {% for arg in flannel_container_args.stdout.split(" ") -%}
          - {{ arg }}
          {% endfor -%}
          - --iface-regex={{ subnet }}
