#!/bin/sh
{{ join_cmd }} --ignore-preflight-errors=SystemVerification
{%- if kubernetes.cri == 'containerd' %} --cri-socket=/var/run/containerd/containerd.sock{%- endif %}
{%- if kubernetes.cri == 'crio' %} --cri-socket=/var/run/crio/crio.sock{%- endif %}