---
apiVersion: kubeadm.k8s.io/v1beta1
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: {{ master_ip }}
  bindPort: 6443
{% if not kubernetes.cri == 'docker' %}
nodeRegistration:
  {% if kubernetes.cri == 'containerd' %}criSocket: /var/run/containerd/containerd.sock{%- endif -%}
  {% if kubernetes.cri == 'crio' %}criSocket: /var/run/crio/crio.sock{% endif %}

{% endif %}
---
apiVersion: kubeadm.k8s.io/v1beta1
kind: ClusterConfiguration
kubernetesVersion: {{ kubernetes.version }}
networking:
  podSubnet: "{%- if kubernetes.cni == 'calico' -%}192.168.0.0/16{%- endif %}
              {%- if kubernetes.cni == 'canal' -%}10.244.0.0/16{%- endif %}
              {%- if kubernetes.cni == 'flannel' -%}10.244.0.0/16{%- endif %}
              {%- if kubernetes.cni == 'kube-router' -%}10.244.0.0/16{%- endif %}
              {%- if kubernetes.cni == 'romana' -%}10.244.0.0/16{%- endif %}
              {%- if kubernetes.cni == 'weavenet' -%}10.32.0.0/12{%- endif %}"
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
featureGates:
  DynamicKubeletConfig: true
cgroupDriver: {{ cri_settings.cgroup_driver }}
