Welcome to the microservice architecture playground (MSAP)


#   .----------------.  .----------------.  .----------------.  .----------------.
#  | .--------------. || .--------------. || .--------------. || .--------------. |
#  | | ____    ____ | || |    _______   | || |      __      | || |   ______     | |
#  | ||_   \  /   _|| || |   /  ___  |  | || |     /  \     | || |  |_   __ \   | |
#  | |  |   \/   |  | || |  |  (__ \_|  | || |    / /\ \    | || |    | |__) |  | |
#  | |  | |\  /| |  | || |   '.___`-.   | || |   / ____ \   | || |    |  ___/   | |
#  | | _| |_\/_| |_ | || |  |`\____) |  | || | _/ /    \ \_ | || |   _| |_      | |
#  | ||_____||_____|| || |  |_______.'  | || ||____|  |____|| || |  |_____|     | |
#  | |              | || |              | || |              | || |              | |
#  | '--------------' || '--------------' || '--------------' || '--------------' |
#   '----------------'  '----------------'  '----------------'  '----------------'

{% if management_tool == 'kubernetes' %}
Use the following command to join the cluster:
{{ join_cmd }} --ignore-preflight-errors=SystemVerification
{%- if kubernetes.cri == 'containerd' %} --cri-socket=/var/run/containerd/containerd.sock{%- endif %}
{%- if kubernetes.cri == 'crio' %} --cri-socket=/var/run/crio/crio.sock{%- endif %}


{% if kubernetes.enable_dashboard %}
Dashboard address:
http://{{ master_ip }}:{{ kubernetes.dashboard_port }}
{% endif %}

{% if monitoring.enabled %}
Grafana address:
http://{{ master_ip }}:{{ monitoring.grafana_port }}

Prometheus address:
http://{{ master_ip }}:{{ monitoring.prometheus_port }}
{% endif %}

{% if kubernetes.enable_proxy %}
You can also access and view the api with the following address:
http://{{ master_ip }}:{{ kubernetes.kube_proxy_port }}/api/v1/namespaces/kube-system/services/https:kubernetes-dashboard:/proxy/
{% endif %}
{% endif %}
